# Python Session- 2

In [6]:
for i in range(-5,5):
        print(i)

-5
-4
-3
-2
-1
0
1
2
3
4

In [7]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(5,-5,-1):
    print(i)

5
4
3
2
1
0
-1
-2
-3
-4

In [2]:
a ="This is our first class"

In [9]:
len(a)

23

In [10]:
for i in range(len(a)):
        print(a[i])

T
h
i
s

i
s

o
u
r

f
i
r
s
t

c
l
a
s
s

In [5]:
for i in range(len(a)):
    print('index',i,'value = ',a[i])

index 0 value =  T
index 1 value =  h
index 2 value =  i
index 3 value =  s
index 4 value =
index 5 value =  i
index 6 value =  s
index 7 value =
index 8 value =  o
index 9 value =  u
index 10 value =  r
index 11 value =
index 12 value =  f
index 13 value =  i
index 14 value =  r
index 15 value =  s
index 16 value =  t
index 17 value =
index 18 value =  c
index 19 value =  l
index 20 value =  a
index 21 value =  s
index 22 value =  s

In [11]:
x=range(10,-10,-2)

In [12]:
x[2]

6

In [14]:
#counting the number of words
count = 0

for i in a:
    if i == ' ':
        count = count+1

print('Total No. of words',count+1)

Total No. of words 5

In [15]:
#shortcut
len(a.split(' '))

5

# List

In [16]:
l1=[]

In [17]:
type(l1)

list

In [18]:
l1 = ['Sreemanto','Jay',139,15.1]

In [19]:
#add a new element in the list
l1.append('Tejas')

In [20]:
l1

['Sreemanto', 'Jay', 139, 15.1, 'Tejas']

In [25]:
#Apprnd - append element at  time
l1.extend([100,200])

In [26]:
l1

['Sreemanto', 'Jay', 139, 15.1, 'Tejas', 100, 200, 100, 200]

In [27]:
l1.append(100,200)

TypeError: append() takes exactly one argument (2 given)

In [23]:
l1[0]

'Sreemanto'

In [28]:
l1[1]

'Jay'

In [29]:
l1[-1]

200

In [30]:
l2 = [123,39,45]

In [32]:
l2.sort()
l2

[39, 45, 123]

In [33]:
l3 = ['Tejas','Sree','Yash']

In [34]:
l3.sort()

In [35]:
l3

['Sree', 'Tejas', 'Yash']

In [36]:
l4 =[[121,'Sree',5.5],[122,'Jay',3.1],[123,'Tarun',2.1]]

In [38]:
len(l4)

3

In [39]:
l4.pop(0)

[121, 'Sree', 5.5]

In [40]:
l4

[[122, 'Jay', 3.1], [123, 'Tarun', 2.1]]

In [41]:
a = l4.pop(1)

In [42]:
a

[123, 'Tarun', 2.1]

In [43]:
l3

['Sree', 'Tejas', 'Yash']

In [44]:
l3.remove('Tejas')

In [45]:
l3

['Sree', 'Yash']

In [46]:
str1 ='timothy King Astor IV'

#copy all the vowels in a list
vowels_list = []

for i  in str1:
        if i in 'AEIOUaeiou':
            vowels_list.append(i)

In [47]:
vowels_list

['i', 'o', 'i', 'A', 'o', 'I']

In [48]:
Emp_details =[[121,'Sree',5.5],[122,'Jay',3.1],[123,'Tarun',2.1]]

#how do i extract only the employee id?
#Extract all the Employee id?
#Extract all the employee details for employees have work ex > 3

In [49]:
Emp_details[0]

[121, 'Sree', 5.5]

In [50]:
Emp_details[0][0]

121

In [51]:
Emp_details[0][1]

'Sree'

In [54]:
Emp_ids = []

for employees in Emp_details:
    #print(employees[0])
    Emp_ids.append(employees[0])

In [55]:
Emp_ids

[121, 122, 123]

In [57]:
#Extract all the employee details for employees have work ex > 3
Emps =[]
for employees in Emp_details:
    if(employees[2]>3):
        print(employees)
        Emps.append(employees[0])

[121, 'Sree', 5.5]
[122, 'Jay', 3.1]

In [ ]:
Emp_details =[[121,'Sree',5.5],[122,'Jay',3.1],[123,'Tarun',2.1]]

In [58]:
#extracting all the employee id?
[i[0] for i in  Emp_details]

[121, 122, 123]

# List Comprehensions

In [60]:
squares=[]

for i in range (10):
    squares.append(i*i)

In [62]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
sq = [i*i for i in range(10)]
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
bank_statements = [100,-10000,500,-5000,300]

In [68]:
credits = [i for i in bank_statements if i>0]
credits

[100, 500, 300]

In [69]:
debits = [i for i in bank_statements if i < 0]
debits

[-10000, -5000]

# Tuples

In [ ]:
t1 = ('name',)

# Dictionaries

In [70]:
#key value pair
#similar to how we see objet in a json file

car = {
        "brand":' Hyundai',
        "Model": 'I20',
        "Year" : 2015
        }

In [71]:
type(car)

dict

In [72]:
car.keys()

dict_keys(['brand', 'Model', 'Year'])

In [73]:
car.values()

dict_values([' Hyundai', 'I20', 2015])

In [74]:
car.items() # fetches keya nd value pairs in a tuple format

dict_items([('brand', ' Hyundai'), ('Model', 'I20'), ('Year', 2015)])

In [76]:
#How do you access an element in a dictionary
car["Model"]

'I20'

In [78]:
#adding a new pair
car['Mileage']='13Kmpl'

In [79]:
car

{'brand': ' Hyundai', 'Model': 'I20', 'Year': 2015, 'Mileage': '13Kmpl'}

In [80]:
len(car)

4

In [84]:
Emp = {
        'ids':[121,122,123],
        'names' : ['Sree','Tejas','Jay'],
         'WorkEx' : [1.5,3.2,3.3]
        }

In [85]:
Emp['names']

['Sree', 'Tejas', 'Jay']

In [99]:
Emp = {
'121' : {
'name' : 'Sree',
'WorkEx' : 4.9,
'Position' : 'AM',
'Salary' : 700000},

'122' : {
'name' : 'Kunal',
'WorkEx' : 3.9,
'Position' : 'SM',
'Salary' : 1700000},

'123' : {
'name' : 'Rohan',
'WorkEx' : 1.5,
'Position' : 'Con',
'Salary' : 500000}

}

In [101]:
#fetch the sum of all the salries?
sum=0
for i in Emp.keys():
    #print(i)
    #print(int(Emp[i].split('lpa')[0]))
    sum=sum+Emp[i]['Salary']
    
print(sum)

2900000

In [96]:
#fetch me the names 
for i in Emp.keys():
    #print(i)
    print(Emp[i]['name'])

Sree
Kunal
Rohan

In [111]:
Emp1 = {
'121' : {
'name' : 'Sree',
'WorkEx' : 4.9,
'Position' : 'AM',
'Salary' : '7LPA'},

'122' : {
'name' : 'Kunal',
'WorkEx' : 3.9,
'Position' : 'SM',
'Salary' : '17LPA'},

'123' : {
'name' : 'Rohan',
'WorkEx' : 1.5,
'Position' : 'Con',
'Salary' : '5LPA'}

}

In [121]:
#fetch the sum of all the salries?
sum=0
for i in Emp1.keys():
    #print(i)
    sum=sum+int(Emp1[i]['Salary'].split('LPA')[0])
    #sum=sum+Emp1[i]['Salary']
    
print(sum)

29

In [122]:
def simple():
    print('Entered the function')
    print('Simple function')
    
print('Not a part of the function')

Not a part of the function

In [123]:
simple()

Entered the function
Simple function

In [125]:
#function with a parameter
def plus_ten(a):
    print('Value',a)

In [126]:
plus_ten(10)

Value 10

In [127]:
#function with a parameter and returning a value

In [128]:
def plus_ten(a):
    print('Value',a)
    return a+10

In [129]:
plus_ten(25)

Value 25

35

In [130]:
val = plus_ten(25)
val

Value 25

35

In [131]:
def minus_ten(a):
    print('Value',a-10)

In [132]:
minus_ten(225)

Value 215

In [140]:
val=minus_ten(225)

Value 215

In [143]:
print(val)

None

In [145]:
#nested Functions
def wage(w_hour):
        print('entered the wage function')
        return(w_hour*10)

In [149]:
def with_bonus(val):
        return(val+50)

In [146]:
wage(5)

entered the wage function

50

In [150]:
with_bonus(50)

100